/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4C5A72;
  background-color: #06061C;
  padding: 1% 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #E3EBED;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.homeContainer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background-color: #06061C;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 170px;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #1E245E;
  background-color: #0C0E35;
  flex-direction: column;
}
.navbar h1 {
  font-size: 7rem;
  font-weight: 300;
  margin-top: 40px;
}
@media (max-width: 500px) {
  .navbar h1 {
    font-size: 4rem;
  }
}
.navbar nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 200;
  margin: 20px auto;
  width: 80%;
}
@media (max-width: 500px) {
  .navbar nav {
    font-size: 1.6rem;
  }
}
.navbar nav a {
  margin: 20px 20px;
  text-decoration: none;
  color: #4C5A72;
}
.navbar nav a:hover {
  background-color: #06061C;
  color: #E3EBED;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .navbar nav a {
    margin: 0 10px;
  }
}
@media (max-width: 500px) {
  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.85;
  }
}
footer {
  color: #4C5A72;
  background: #0C0E35;
  padding: 5px 0;
  margin: 30px auto;
  width: 30%;
  border: 1px double #1E245E;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-weight: 300;
}
.gist h2 {
  margin: 10px 60px;
}
#headerInfo {
  font-size: 2.5rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.headerImgs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerImgs .headerImg {
  margin: 0 15px;
}
.appExample {
  margin: 40px auto;
}
.appExample h2 {
  display: flex;
  justify-content: right;
  margin: 40px 40px 5px auto;
  font-size: 4.5rem;
  font-weight: 300;
}
.appExample .screenShots {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.appExample .screenShots .appShot {
  border-radius: 11px;
}
.appInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#appInfo {
  font-size: 2.5rem;
  width: 60%;
}
.aboutContent {
  width: 80%;
  margin: 40px auto;
}
.aboutContent h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}
.aboutContent .teamMembers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutContent .teamMembers .teamMember {
  height: 350px;
  width: 350px;
}
i {
  font-size: 4rem;
  margin: 10px;
}
img {
  height: 100px;
  width: 100px;
}
