// Footer Styles
footer {
    color: @font;
    background: @secondaryBackground;
    padding: 20px 0;
    border: 1px double @spacecadet;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }