.gist {
  .center;
  height: 100px;
  font-weight: 300;
  margin-top: 50px;
  h2 {
    margin: 10px 60px;
    
    @media @tablet {
      margin: 10px 20px;
      font-size: 2rem;
    }
    @media @phone {
      margin: 10px 10px;
      font-size: 1.8rem;
    }
  }

  @media @tablet {
    margin-top: 10px;
    justify-content: space-around;
  }
  @media @phone {
    margin-top: 10px;
    // justify-content: space-around;
  }
}

header p {
  @media @smScreen {
    margin: 10px auto;
  }
  @media @tablet {
    margin: 10px auto;
  }
  @media @phone {
    margin: 10px auto;
  }
}

#headerInfo {
  font-size: 2.5rem;
  width: 100%;
  .center;
  
  @media @smScreen {
    width: 80%;
    font-size: 2rem;
    .center;
  }
  @media @tablet {
    width: 80%;
    font-size: 2rem;
    .center;
  }
  @media @phone {
    width: 80%;
    font-size: 2rem;
    .center;
  }
}

.headerImgs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 10px;
  
  .headerImg {
    margin: 0 10px;
  }

  #headerImg1 {
    height: 300px;
    width: 400px;
    
    @media @smScreen {
        transform: scale(.8);
        
    }
    @media @tablet {
        transform: scale(.7);
    }
    @media @phone{
        display: none;
    }
  }
  #headerImg2 {
    height: 400px;
    width: 300px;
  }
  #headerImg3 {
    height: 300px;
    width: 400px;
    
    @media @smScreen {
        transform: scale(.8);
    }
    @media @tablet {
        transform: scale(.7);
    }
    @media @phone{
        display: none;
    }
  }
  @media @smScreen {
    transform: scale(.8);
    
}
@media @tablet {
    transform: scale(.7);
}
@media @phone{
    display: none;
}
}
.appExample {
  margin: 40px auto;

  h2 {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    font-size: 4.5rem;
    font-weight: 300;

    
    @media @tablet {
      justify-content: center;
      margin: 10px auto;
    }
    @media @phone {
      justify-content: center;
      margin: 10px auto;
    }
  }

  .screenShots {
    .center;
    justify-content: space-around;

    .appShot {
      border-radius: 11px;
      
      @media @smScreen {
        transform: scale(0.7);
      }
      @media @tablet {
        transform: scale(0.8);
      }
      @media @phone {
        transform: scale(0.7);
      }
    }
  }
}

#appShot2 {
  @media @smScreen {
    display: none;
  }
  @media @phone {
    display: none;
  }
}

#appShot3 {
  @media @tablet {
    display: none;
  }
  @media @phone {
    display: none;
  }
}

.appInfo {
  .center;
}

#appInfo {
  font-size: 2.5rem;
  width: 80%;
}
