// Navigation code here

.navbar {
    .center;
    width: 70%;
    height: 170px;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid @spacecadet;
    background-color: @secondaryBackground;
    flex-direction: column;
    
    
    
    h1 {
        font-size: 7rem;
        font-weight: 300;
        margin-top: 40px;

        @media @phone {
            font-size: 4rem;
        }
        @media @tablet {

        }
    }
    nav {
        .center;
        font-size: 3rem;
        font-weight: 200;
        margin: 20px auto;
        width: 80%;

        @media @phone {
            font-size: 1.6rem;
        }
        @media @tablet {
            
        }

        a {
            margin: 20px 20px;
            text-decoration: none;
            color: @font;

            &:hover {
                background-color: @background;
                color: @azureishwhite;
                border-radius: 10px;
            }

            @media @phone {
                margin: 0 10px;
            }
            @media @tablet {
            
            }
        }
    }

    @media @phone {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        opacity: .85;
    }
    @media @tablet {
            
    }
}