// Color Pointers
@background: @richblack;
@font: @independence;
@secondaryBackground: @midredpurple;
@h1Font: @azureishwhite;

// Colors
@richblack: #06061c;
@midredpurple: #0c0e35;
@spacecadet: #1e245e;
@independence: #4c5a72;
@azureishwhite: #e3ebed;

// Fonts

// Responsive
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
@smScreen: ~"(max-width: 1000px)";
